button {
  border-radius: 30px;
  margin-top: 2vw;
  margin-left: 8vw;
  border: 2px solid #fff;
  text-align: center;
  align-items: center;
  justify-content: center;
  outline: none;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  flex-direction: row;
  /* display: flex; */
  justify-content: space-between;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.3rem;
  padding: 1rem 2rem;
}

.buttons.style {
  background-color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

.buttons.style:hover {
  background-color: rgb(215, 187, 81, 0.3);
  filter: drop-shadow(2px 2px 5px #D7BC52);
  color: black;
  font-weight: bolder;
}

.acordeon .expand {
  text-align: center;
  padding: 2rem 0;
  background-color:rgba(0,0,0,0.6);
  border-radius: 20px;
  margin-top: 2%;
  width: 100%;
}

.acordeon .expand ol {
  list-style: none;
  font-size: larger;
  text-align: left;
  margin-left: 13rem;
  list-style-image: url("../images/coronachica2.png");
  list-style-type: square;

  background-repeat: no-repeat;
  color: black;
  font-size: 1.5em;
  /* text-shadow: 2px 3px white; */
}

.acordeon .expand ol li {
  margin: 0.5rem 0;

}

@media screen and (max-width: 414px) {
  .acordeon .expand ol {
    list-style: none;
    font-size: larger;
    text-align: left;
    margin-left: 5rem;
    list-style-image: url("../images/estrella2chica.png");
    list-style-type: square;
    background-repeat: no-repeat;
    color: black;
    font-size: 1em;
    /* text-shadow: 2px 3px white; */
  }

  .acordeon .expand ol li {
    margin: 0.1rem 0;
  }
  .buttons.style {
    background-color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    font-size: 0.8em;
  }
}
