.coworking-crear {
  padding: 1rem;
  background-image: url(../images/CreateCoworking.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.coworking-crear:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(15, 15, 15, 0.288);
  margin-top: 4.7rem;
  height: 81.25rem;
}

.coworking-crear h1 {
  margin-bottom: 2rem;
  z-index: 1;
  position: relative;
  color: white;
}

.coworking-crear form {
  width: 20rem;
  position: relative;
}

.coworking-crear form fieldset {
  margin-bottom: 1rem;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0.5rem 1rem 1rem 1rem;
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid white;
  z-index: 1;
}

.coworking-crear form label {
  display: block;
  font-size: 0.85rem;
  margin: 0.5rem 0;
  font-weight: bold;
  text-transform: uppercase;
}

.coworking-crear form input,
.coworking-crear form select {
  width: 100%;
  padding: 0.25rem;
  margin-bottom: 0.25rem;
  border: white;
}

button:hover {
  background-color: rgb(215, 187, 81, 0.3);
  filter: drop-shadow(2px 2px 5px #d7bc52);
  color: black;
  font-weight: bolder;
}
