.VerSalas {
  display: flex;
  flex-direction: row;
  height: 82vh;
}

.VerSalas {
  padding-top: 3%;
  background-image: url(../images/fondocoronas.png);
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;

  padding: 5%;
  display: inherit;
  font-size: 20px;
  margin: auto;
}

.VerSalas h2 {
  margin-left: 1%;
  margin-bottom: 2%;
  font-size: 24px;
}

.VerSalas span {
  margin-left: 5%;
  font-size: 25px;
  font-weight: bold;
}

.buttonReservarSala {
  background-color: #d7bc52;
  font-size: 20px;
  padding: 0.5em;
  border-radius: 10px;
  color: white;
  text-decoration: none;
}

.buttonReservarSala:hover {
  background-color: rgb(215, 187, 81, 0.3);
  filter: drop-shadow(2px 2px 5px gold);
  color: black;
  font-weight: bolder;
}

.latablada {
  padding: 1em;
  text-align: center;
}

.campos {
  padding: 1em;
  text-align: center;
}
