footer {
  background-color: black;
  color: white;
  max-width: 600px;
  margin: 0;
  padding: 0;
}

footer {
  display: flex;
  border-bottom: 1px solid #ccc;
  align-items: center;
  max-width: 100%;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  z-index: 1;
}

.container2 {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-around;
  padding: 5px;
  z-index: 1;
}

.finales {
  color: white;
  text-decoration: none;
  font-weight: lighter;
}

.end.logo {
  max-width: 5vw;
  box-sizing: border-box;
  transform-style: unset;
  padding-left: 1vw;
}

.redes.sociales {
  display: flex;
  /* flex: 1 1 auto; */
  justify-content: space-evenly;
  padding: 2vw;
  box-sizing: border-box;
}

.icono.media {
  max-width: 1vw;
  box-sizing: border-box;
  margin: 5px;
}

.container3 {
  font-weight: lighter;
}

.logof {
  text-decoration: none;
  max-width: 8vw;
  cursor: pointer;
}

/* footer {
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-around;
    height: 300px;
    width: 100%;
}
.container1 {
    display:flex;
    width: 33%;
    flex-direction: column;
}
.logo {
    display:flex;
   
}
.logo img {
    width: 50%; 
}
.redes {
    display:flex;
    flex-direction: row;
    align-items:center;
 
   
}
.redes img {

    width: 30%;
}


.container2 {
    display:flex;
    flex-direction: column;
    width: 33%;
    align-items: center;
    justify-content: space-evenly;
}

.container3 {
    display:flex;
    flex-direction: column;
    width: 33%;
    
    align-items: center;
    justify-content: space-evenly;
}
  */

@media screen and (max-width: 414px) {
  footer {
    font-size: 8px;
  }
  .container2 {
    display: none;
  }
  .redes.sociales {
    width: 70%;
    display: flex;
    align-items: center;
  }
  .end.logo {
    display: none;
  }
  .container3 {
    margin-left: 2em;
  }
}
