.section.actualizar-contrasena .form-main {
    display: flex;
  }
  
  .section.actualizar-contrasena label {
    display: flex;
    margin-bottom: 15px;
  }
  
  .section.actualizar-contrasena label > span {
    flex: 0 0 150px;
    font-size: 90%;
    height: 33px;
    line-height: 33px;
  }
  
  .section.actualizar-contrasena input:not([type="file"]) {
    border: 1px solid #ccc;
    display: block;
    margin-bottom: 12px;
    outline: 0;
    padding: 8px 15px;
    width: 250px;
  }
  
  .section.actualizar-contrasena input:focus {
    border-color: #5f4fde;
  }
  
  
  .section.actualizar-contrasena button {
    margin-top: 20px;
  }