/* .section.sala .form-main {
    display: flex;
  } */

.section.sala {
  height: 82vh;
  background-image: url(../images/fondocoronas.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.formupdatesale {
  padding-top: 2rem;
  margin-left: 2rem;
}

.section.section.sala label {
  display: flex;
  margin-bottom: 15px;
}

.section.sala label > span {
  flex: 0 0 150px;
  font-size: 90%;
  height: 33px;
  line-height: 33px;
}

.section.section.sala input:not([type="file"]) {
  border: 1px solid #ccc;
  display: block;
  margin-bottom: 12px;
  outline: 0;
  padding: 8px 15px;
  width: 250px;
}

.section.section.sala input:focus {
  border-color: #5f4fde;
}

.section.section.sala button {
  margin-top: 20px;
}

.buttonupdate {
  background-color: rgb(215, 187, 81, 0.3);
  filter: drop-shadow(2px 2px 5px gold);
  color: black;
  width: 10rem;
}

.buttonupdate:hover {
  background-color: rgba(100, 99, 94, 0.3);
  filter: drop-shadow(2px 2px 5px gold);
  color: black;
}
